body {
    display:flex;
    gap:50px;
    background-color: #f5efef;
    flex-direction:column;
}
.logo {
    background-color:#c0c0c0 ;
}
.navigation {
    background-color:#c0c0c0 ;
}
.main {
    
    display:flex;
    gap: 20px;
    flex-direction: column;

}
.footer {
    background-color:#c0c0c0 ;
}
.header {
    background-color:#c0c0c0 ;
}
.body {
   
    display:flex;
    gap:20px;
}
.side {
    background-color:#c0c0c0 ;
}
.body-area {
    background-color:#c0c0c0 ;
}